* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #eee;
    display: flex;
    justify-content: center;
}

.payment-box {
    max-width: 420px;
    width: 100%;
    background: #f4efff;
}

.header {
    background: #7b4ce6;
    color: white;
    text-align: center;
    padding: 25px;
}

.header h1 {
    font-size: 40px;
    margin: 10px 0;
}

.tabs {
    display: flex;
    background: #eee;
    padding: 15px;
}

.tab {
    flex: 1;
    text-align: center;
    color: #888;
    font-weight: bold;
    cursor: pointer;
}

.tab.active {
    color: #7b4ce6;
    border-bottom: 3px solid #7b4ce6;
}

.method-box {
    margin: 15px;
    padding: 15px;
    background: #e6dbff;
    border-radius: 10px;
}

.methods {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.method {
    flex: 1;
    background: white;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
}

.warning {
    margin: 15px;
    padding: 12px;
    background: #ded2ff;
    border-radius: 8px;
    font-size: 14px;
}

.step {
    margin: 15px;
}

.copy-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
}

.copy-box button {
    border: none;
    background: #7b4ce6;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
}

.utr-box {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.utr-box input {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.utr-box button {
    background: #7b4ce6;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
    cursor: pointer;
}

/* UTR ERROR */
.utr-error {
    display: none;
    color: #e53e3e;
    font-size: 13px;
    margin-top: 8px;
    padding-left: 4px;
}